In [1]:
import pandas as pd

# Carregando o Dataset
file_path = 'data/cerveja.csv'
data = pd.read_csv(file_path)
data.head()

,Data,Temperatura Media (C),Temperatura Minima (C),Temperatura Maxima (C),Precipitacao (mm),Final de Semana,Consumo de cerveja (litros)
0,2015-01-01,"27,3","23,9","32,5",0,0.0,25.461
1,2015-01-02,"27,02","24,5","33,5",0,0.0,28.972
2,2015-01-03,"24,82","22,4","29,9",0,1.0,30.814
3,2015-01-04,"23,98","21,5","28,6","1,2",1.0,29.799
4,2015-01-05,"23,82",21,"28,3",0,0.0,28.900

In [2]:
data.shape

(941, 7)

O conjunto de dados contém as seguintes colunas:

**Data:** Data de registro.

**Temperatura Média (C):** Temperatura média diária em graus Celsius.

**Temperatura Mínima (C):** Temperatura mínima diária em graus Celsius.

**Temperatura Máxima (C):** Temperatura máxima diária em graus Celsius.

**Precipitação (mm):** Quantidade de precipitação diária em milímetros.

**Final de Semana:** Indicação de se o dia foi um final de semana (0 para dias de semana, 1 para finais de semana).

**Consumo de cerveja (litros):** Quantidade de cerveja consumida, em litros.

In [3]:
# Verificando os tipos de dados e valores únicos na coluna
data['Consumo de cerveja (litros)'].unique(), data['Consumo de cerveja (litros)'].dtypes

(array([25.461, 28.972, 30.814, 29.799, 28.9  , 28.218, 29.732, 28.397,
        24.886, 37.937, 36.254, 25.743, 26.99 , 31.825, 25.724, 29.938,
        37.69 , 30.524, 29.265, 35.127, 29.13 , 25.795, 21.784, 28.348,
        31.088, 21.52 , 29.972, 22.603, 22.696, 26.845, 27.03 , 32.057,
        24.097, 31.655, 24.738, 19.95 , 22.821, 28.893, 29.926, 24.062,
        21.137, 26.805, 26.389, 24.219, 30.231, 24.968, 25.343, 17.399,
        21.392, 22.922, 24.567, 30.943, 30.825, 25.692, 26.959, 25.366,
        22.784, 26.241, 26.467, 27.475, 28.749, 24.146, 22.988, 30.3  ,
        22.654, 29.09 , 24.619, 20.016, 23.042, 22.933, 22.409, 21.281,
        28.844, 32.872, 20.903, 26.275, 20.167, 23.628, 24.213, 28.631,
        25.855, 21.406, 21.617, 22.401, 27.989, 24.974, 29.76 , 26.116,
        25.85 , 24.925, 21.979, 22.116, 24.867, 33.45 , 32.713, 22.356,
        21.004, 23.362, 20.298, 24.862, 30.505, 25.07 , 22.62 , 22.001,
        23.469, 21.735, 21.593, 33.822, 28.028, 24.304, 31.108, 19.113,
        23.198, 24.388, 27.42 , 30.479, 21.838, 20.812, 19.761, 20.452,
        17.939, 25.272, 28.049, 25.317, 21.826, 20.68 , 19.143, 18.146,
        25.489, 23.537, 16.956, 19.052, 17.287, 20.3  , 20.538, 23.702,
        28.411, 21.073, 24.215, 19.525, 20.786, 20.429, 27.25 , 31.387,
        26.075, 22.162, 24.258, 24.683, 21.245, 25.937, 26.081, 16.228,
        20.106, 21.055, 22.772, 25.142, 31.129, 30.498, 26.15 , 21.327,
        22.008, 24.615, 22.375, 29.607, 32.983, 19.119, 21.029, 23.898,
        24.534, 16.748, 23.055, 28.857, 23.022, 27.146, 17.241, 19.463,
        21.86 , 24.227, 27.594, 24.863, 20.161, 20.824, 19.727, 14.94 ,
        24.632, 21.294, 18.448, 21.237, 19.849, 20.74 , 25.698, 26.691,
        33.298, 25.64 , 23.937, 28.742, 21.748, 22.032, 24.827, 32.473,
        20.62 , 21.825, 14.343, 19.029, 21.104, 20.738, 25.233, 18.975,
        19.64 , 22.522, 24.726, 32.467, 31.663, 25.867, 27.724, 22.039,
        26.127, 26.58 , 31.31 , 33.517, 23.181, 24.183, 24.594, 22.61 ,
        25.479, 29.621, 26.272, 22.541, 23.07 , 26.021, 17.655, 23.243,
        30.177, 27.518, 23.21 , 21.092, 23.357, 17.888, 22.217, 31.681,
        31.833, 28.441, 22.389, 20.681, 24.222, 19.345, 21.827, 23.566,
        20.227, 17.075, 16.977, 21.525, 21.454, 21.814, 21.252, 20.464,
        30.775, 33.93 , 26.311, 31.836, 34.695, 29.829, 26.362, 32.589,
        30.345, 29.411, 29.637, 32.184, 17.731, 24.114, 28.034, 22.664,
        27.488, 24.876, 24.679, 22.304, 30.329, 33.182, 23.849, 33.33 ,
        34.496, 26.249, 26.523, 26.793, 35.861, 27.387, 32.666, 22.199,
        24.   , 27.871, 31.139, 23.065, 26.594, 27.657, 28.084, 27.582,
        22.634, 31.649, 35.781, 24.429, 20.648, 22.741, 21.479, 23.134,
        20.575, 24.33 , 28.61 , 28.456, 27.964, 29.569, 29.267, 28.647,
        26.836, 29.386, 24.609, 26.964, 23.614, 22.96 , 20.332, 30.392,
        31.933, 21.662, 21.689, 25.119, 25.285, 28.979, 34.382, 30.617,
        20.238, 24.529, 30.471, 28.405, 29.513, 32.451, 32.78 , 23.375,
        27.713, 27.137, 30.74 , 29.579, 29.188, 28.131, 28.617, 21.062,
        24.337, 27.042, 32.536, 30.127, 24.834, 26.828, 26.468, 31.572,
        26.308, 21.955, 32.307, 26.095, 22.309, 20.467, 22.446,    nan]),
 dtype('float64'))

In [4]:
# Verificando se há valores ausentes no conjunto de dados
missing_data = data.isnull().sum()

# Remover valores ausentes (se houver)
data_cleaned = data.dropna()

# Conferir novamente se há valores ausentes após o tratamento
missing_data_after_cleaning = data_cleaned.isnull().sum()

# Exibir as informações de dados faltantes
print("Dados faltantes antes do tratamento:")
print(missing_data)

print("\nDados faltantes após o tratamento:")
print(missing_data_after_cleaning)

# Verificar se o índice de dados foi corretamente ajustado após a limpeza
data_cleaned.reset_index(drop=True, inplace=True)

# Exibir as primeiras linhas dos dados limpos
print(data_cleaned.head())

Dados faltantes antes do tratamento:
Data                           576
Temperatura Media (C)          576
Temperatura Minima (C)         576
Temperatura Maxima (C)         576
Precipitacao (mm)              576
Final de Semana                576
Consumo de cerveja (litros)    576
dtype: int64

Dados faltantes após o tratamento:
Data                           0
Temperatura Media (C)          0
Temperatura Minima (C)         0
Temperatura Maxima (C)         0
Precipitacao (mm)              0
Final de Semana                0
Consumo de cerveja (litros)    0
dtype: int64
         Data Temperatura Media (C) Temperatura Minima (C)  \
0  2015-01-01                  27,3                   23,9
1  2015-01-02                 27,02                   24,5
2  2015-01-03                 24,82                   22,4
3  2015-01-04                 23,98                   21,5
4  2015-01-05                 23,82                     21

  Temperatura Maxima (C) Precipitacao (mm)  Final de Semana  \
0                   32,5                 0              0.0
1                   33,5                 0              0.0
2                   29,9                 0              1.0
3                   28,6               1,2              1.0
4                   28,3                 0              0.0

   Consumo de cerveja (litros)
0                       25.461
1                       28.972
2                       30.814
3                       29.799
4                       28.900

In [5]:
# Verificando todas as colunas que podem conter valores numéricos com vírgulas em vez de pontos

data_cleaned['Temperatura Media (C)'] = data_cleaned['Temperatura Media (C)'].astype(str).str.replace(',', '.').astype(float)
data_cleaned['Temperatura Minima (C)'] = data_cleaned['Temperatura Minima (C)'].astype(str).str.replace(',', '.').astype(float)
data_cleaned['Temperatura Maxima (C)'] = data_cleaned['Temperatura Maxima (C)'].astype(str).str.replace(',', '.').astype(float)
data_cleaned['Precipitacao (mm)'] = data_cleaned['Precipitacao (mm)'].astype(str).str.replace(',', '.').astype(float)
data_cleaned['Consumo de cerveja (litros)'] = data_cleaned['Consumo de cerveja (litros)'].astype(str).str.replace(',', '.').astype(float)

# Verificando se a conversão foi realizada corretamente
data_cleaned.dtypes

<ipython-input-5-5dd0a7d0151b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cleaned['Temperatura Media (C)'] = data_cleaned['Temperatura Media (C)'].astype(str).str.replace(',', '.').astype(float)
<ipython-input-5-5dd0a7d0151b>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cleaned['Temperatura Minima (C)'] = data_cleaned['Temperatura Minima (C)'].astype(str).str.replace(',', '.').astype(float)
<ipython-input-5-5dd0a7d0151b>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cleaned['Temperatura Maxima (C)'] = data_cleaned['Temperatura Maxima (C)'].astype(str).str.replace(',', '.').astype(float)
<ipython-input-5-5dd0a7d0151b>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cleaned['Precipitacao (mm)'] = data_cleaned['Precipitacao (mm)'].astype(str).str.replace(',', '.').astype(float)
<ipython-input-5-5dd0a7d0151b>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cleaned['Consumo de cerveja (litros)'] = data_cleaned['Consumo de cerveja (litros)'].astype(str).str.replace(',', '.').astype(float)

Data                            object
Temperatura Media (C)          float64
Temperatura Minima (C)         float64
Temperatura Maxima (C)         float64
Precipitacao (mm)              float64
Final de Semana                float64
Consumo de cerveja (litros)    float64
dtype: object

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# Selecionando as features (X) e o target (y)
X = data_cleaned[['Temperatura Media (C)', 'Temperatura Minima (C)', 'Temperatura Maxima (C)', 'Precipitacao (mm)', 'Final de Semana']]
y = data_cleaned['Consumo de cerveja (litros)']

# Dividindo os dados em conjuntos de treino (80%) e teste (20%)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Criando o modelo de Regressão Linear
model = LinearRegression()

# Treinando o modelo com os dados de treino
model.fit(X_train, y_train)

# Fazendo previsões com os dados de teste
y_pred = model.predict(X_test)

# Avaliando o modelo com o erro quadrático médio
rmse = mean_squared_error(y_test, y_pred, squared=False)

rmse

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_regression.py:492: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

2.387352465229385

In [7]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

# Criando outros modelos: Árvore de Decisão e Random Forest
decision_tree_model = DecisionTreeRegressor(random_state=42)
random_forest_model = RandomForestRegressor(random_state=42)

# Treinando o modelo de Árvore de Decisão
decision_tree_model.fit(X_train, y_train)
y_pred_tree = decision_tree_model.predict(X_test)

# Treinando o modelo de Random Forest
random_forest_model.fit(X_train, y_train)
y_pred_forest = random_forest_model.predict(X_test)

from sklearn.metrics import mean_squared_error

# Avaliando o desempenho de cada modelo usando root mean squared error diretamente
rmse_linear = mean_squared_error(y_test, y_pred, squared=False)
rmse_tree = mean_squared_error(y_test, y_pred_tree, squared=False)
rmse_forest = mean_squared_error(y_test, y_pred_forest, squared=False)

# Comparação dos resultados de RMSE
model_comparison = pd.DataFrame({
    'Modelo': ['Regressão Linear', 'Árvore de Decisão', 'Random Forest'],
    'RMSE': [rmse_linear, rmse_tree, rmse_forest]
})

# Exibir a comparação
print(model_comparison)

              Modelo      RMSE
0   Regressão Linear  2.387352
1  Árvore de Decisão  3.506488
2      Random Forest  2.690781

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_regression.py:492: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_regression.py:492: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_regression.py:492: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

A Regressão Linear apresentou o melhor desempenho entre os modelos testados, seguida pela Random Forest. A Árvore de Decisão teve o pior desempenho com um erro maior.

In [8]:
# Exportando os dados tratados para um arquivo CSV
output_file_path = 'data/dados_tratados_cerveja.csv'
data_cleaned.to_csv(output_file_path, index=False)

output_file_path

'data/dados_tratados_cerveja.csv'